<!--The content below is only a placeholder and can be replaced.-->
<p>INDEX CLIENT</p>
<ul>
	<li *ngFor="let u of users">{{ u.username }}</li>
</ul>

<p>FORM LOGIN</p>
<form  #frm="ngForm" (ngSubmit)="userLogin(frm)">
	<label>EMAIL</label>
	<input type="text" name="email" ngModel required>
	<label>PASSWORD</label>
	<input type="password" name="password" ngModel required >
	<button>Login</button>
</form>
<p *ngIf="cookie">{{ logged._body }} {{ cookie }}</p>
